*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #ccc;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 70px;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 20px;
    color: steelblue;
}

p{
    color: #333;
}
